  body, h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif
  }
  .hello-text{
    font-size:1.8em
  }
  .child-name{
    font-size:1.9em;
    /* border: solid 3px red; */
    margin: 4 0 4 0;
  }

  body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  /* Style the images within the containers */
  .w3-container {
    text-align: center;
    display:flex;
    flex-direction: column;

  }
  .w3-row{
    /* border:solid 3px blue; */
    display:flex;
  }

  .w3-half {
    /* border: solid 3px green; */
    width: 50%;
    padding:0 30px 0 30px;

  }

  .bag{
    display: block;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover; /*contain*/
    background-position: center;
    min-height: 100px;
    min-width: 100px;
    height: 70vh;
    /* border: solid 3px blueviolet; */
    margin-left: auto;
    margin-right: auto;
  }
  .image-container-left{
    background-image: url('./images/profile_girl_1.jpg');
  }
  .image-container-right{
    background-image: url('./images/profile_girl_1.jpg');
  }

  /* footer */
  .links-wrap{
    display: flex;
    justify-content: center;
    /* border: solid 3px blue; */
    margin-top: 1em;
    font-size:28px;
    width:auto;
  }

.link {
  margin: 1em 0.2em;
  opacity: 0.6;
  filter: grayscale(100%)
}

.link:hover {
  transition: 0.7s;
  opacity: 1;
}

@media only screen and (max-width: 1280px) {
    .child-name{
        font-size: 1.8rem;
        margin: 0 0 1rem 0;
      }
    .w3-row{
      /* <!-- border: solid 3px green; --> */
      width: 100%;
      display: flex;
      flex-direction: row;

    }
    .w3-half {
    /* border: solid 3px green; */
        width: 50%;
        padding:0 4px 0 4px;
    }

    .w3-container {
        min-height: 400px;
        max-height: 100vh;
    }
    .bag{
      background-size: cover; /*contain*/
      background-position: center;
      max-height: 60vh;
    }
    /* footer */
    .links-wrap{
        display: flex;
        justify-content: center;
        /* border: solid 3px blue; */
        margin-top: 1em;
        font-size:24px;
        width:auto;
    }
}

@media only screen and (max-width: 768px) {

    .hello-text{
        font-size:1.8em;
        margin: 1rem;
      }
      .child-name{
        font-size:1.8em;
        /* border: solid 3px red; */
        margin: 0.5rem;
      }.w3-row{
      /* border: solid 3px green; */
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .w3-half {
      width: 100vw;
      padding: 0;
    }
    .bag{
        background-size: cover; /*contain*/
        background-position: center;
        margin: 10px;
      }
      .w3-container {
        max-height: 100%;
        width:100%;
    }
  }
