  body, h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif
  }
  .bls-hello-text{
    font-size:1.8em
  }
  .bls-child-name{
    font-size:1.9em;
    /* border: solid 3px red; */
    margin: 4 0 4 0;
  }

  body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  /* Style the images within the containers */
  .bls-main-wrap {
    text-align: center;
    display:flex;
    flex-direction: column;

  }
  .bls-photo-row{
    /* border:solid 3px blue; */
    display:flex;
  }

  .bls-photo-half {
    /* border: solid 3px green; */
    width: 50%;
    padding:0 30px 0 30px;

  }

  .bls-image-container{
    display: block;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover; /*contain*/
    background-position: center;
    min-height: 100px;
    min-width: 100px;
    height: 70vh;
    /* border: solid 3px blueviolet; */
    margin-left: auto;
    margin-right: auto;
  }
  .bls-image-container-left{
    background-image: url('./images/profile_girl_1.jpg');
  }
  .bls-image-container-right{
    background-image: url('./images/profile_girl_2.jpg');
  }

  /* footer */
  .bls-links-wrap{
    display: flex;
    justify-content: center;
    /* border: solid 3px blue; */
    margin-top: 1em;
    font-size:28px;
    width:auto;
  }

.bls-link {
  margin: 1em 0.2em;
  opacity: 0.6;
  filter: grayscale(100%)
}

.bls-link:hover {
  transition: 0.7s;
  opacity: 1;
}

/* child pages custom */
.bls-child-big-img {
  margin-bottom: 12px;
  width:100%
}
.bls-child-bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100%;
}

.bls-child-1-bg-img{
  background-image: url('./images/profile_girl_1.jpg')
}
.bls-child-2-bg-img{
  background-image: url('./images/profile_girl_2.jpg')
}
.bls-info-container{
  padding: 3rem 0 0 0
}
.bls-info-img-small{
  display:block;
  width:60%;
  margin:auto
}
.bls-info-img-large{
  width:1000;
  height:1333
}
.bls-child-main{
  margin-left:40%
}
.bls-child-navigation{
  display:none;
  padding-top:150px;
  right:0;
  z-index:2
}
.bls-naigation-link{
  padding:0 12px
}
.bls-navigation-sidebar{
  width:40%
}
.bls-navigation-button{
  width:auto;
  right:0
}
.bls-child-footer{
  margin:-24px
}
/* -------------------------- media ---------------------- */
@media only screen and (max-width: 1280px) {
    .bls-child-name{
        font-size: 1.8rem;
        margin: 0 0 1rem 0;
      }
    .bls-photo-row{
      /* <!-- border: solid 3px green; --> */
      width: 100%;
      display: flex;
      flex-direction: row;

    }
    .bls-photo-half {
    /* border: solid 3px green; */
        width: 50%;
        padding:0 4px 0 4px;
    }

    .bls-main-wrap {
        min-height: 400px;
        max-height: 100vh;
    }
    .bls-image-container{
      background-size: cover; /*contain*/
      background-position: center;
      max-height: 60vh;
    }
    /* footer */
    .bls-links-wrap{
      display: flex;
      justify-content: center;
      /* border: solid 3px blue; */
      margin-top: 1em;
      font-size:24px;
      width:auto;
    }
}

@media only screen and (max-width: 768px) {

    .bls-hello-text{
        font-size:1.8em;
        margin: 1rem;
      }
      .bls-child-name{
        font-size:1.8em;
        /* border: solid 3px red; */
        margin: 0.5rem;
      }
      .bls-photo-row{
      /* border: solid 3px green; */
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .bls-photo-half {
      width: 100vw;
      padding: 0;
    }
    .bls-bag-image-container{
        background-size: cover; /*contain*/
        background-position: center;
        margin: 10px;
      }
      .bls-main-wrap {
        max-height: 100%;
        width:100%;
    }
  }
